# Default values for kubelived.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

installer:
  image:
    repository: busybox
    pullPolicy: IfNotPresent
    tag: latest
  serviceAccount:
    create: true
    serviceAccountAnnotations: {}
    name: ''
  annotations: {}
  podAnnotations: {}
  hostNetwork: true
  nodeSelector: {}
    # node-role.kubernetes.io/master: ""
  tolerations: []
  # - key: CriticalAddonsOnly
  #   operator: Exists
  # - effect: NoSchedule
  #   key: node-role.kubernetes.io/master

keepalived:
  image:
    repository: bsctl/keepalived 
    pullPolicy: IfNotPresent
    tag: '0.2.0'
  config_path: '/etc/keepalived'
  config_file: 'keepalived.conf'
  health_service_name: 'apiserver'
  health_service_check: '/usr/bin/curl -s -k https://localhost:6443/healthz -o /dev/null'
  health_service_user: 'root'
  health_service_interval: '20'
  health_service_timeout: '5'
  health_service_rise: '1'
  health_service_fall: '1'
  instances:
    - iface: VI_1
      initial_state: 'backup'
      password: 'password'
      router_id: '100'
      advertisement_interval: '3'
      virtual_address: '192.168.12.2'
      interface: 'eth0'
      unicast_peers: []
      health_service_name: 'apiserver'
      health_service_interval: '20'
#    - iface: VI_2
#      initial_state: 'backup'
#      password: 'password'
#      router_id: '100'
#      advertisement_interval: '3'
#      virtual_address: '10.0.0.2'
#      interface: 'ens19'
#      unicast_peers: []
#      health_service_name: 'apiserver'
#      health_service_interval: '15'
